CurrencyConverter/CurrencyConverter/CurrencyConverterApp/Service References/ServiceReference/CurrencyConverter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyConverter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyConverter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MyValues">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Currency" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Date" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rate" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyValues" nillable="true" type="tns:MyValues" />
  <xs:complexType name="MyValues_Convert">
    <xs:sequence>
      <xs:element minOccurs="0" name="errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rateA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rateB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyValues_Convert" nillable="true" type="tns:MyValues_Convert" />
</xs:schema>